/* 清零 */
*{
	padding: 0;
	margin: 0;
}
body{
	font: 12px/1.62 Helvetica,Arial,sans-serif;
}


a{
	text-decoration: none;
}
img, input{
	border: none;
	border: 1px solid none;
}
li{
	list-style: none;
}
.right{
	width: 266px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.hd-ad{
	width: 950px;
	height: 90px;
	margin: 0 auto;
}
.left{
	width: 121px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.mid{
	width: 530px;
	position: absolute;
	left: 121px;
	top: 0px;
}
.hd-header{
	position: relative;
	width: 950px;
	height: 90px;
	margin: 0 auto;
}
.hd-header .header-logo{
	display: block;
	width: 154px;
	height: 30px;
	position: absolute;
	background: url(images/logo_db.png) no-repeat;
	left: 0;
	top: 29px;
}
.hd-header .search{
	width: 303px;
	height: 30px;
	position: absolute;
	left: 183px;
	top: 31px;
	padding-left: 7px;
	color: #e4e4e4;
	line-height: 30px;
}
.hd-header p{
	width: 13px;
	height: 13px;
	background: url(images/bn_srh_1.png) no-repeat;
	position: absolute;
	left: 468px;
	top: 41px;
}

.hd-header ul{
	position: absolute;
	width: 402px;
	height: 23px;
	top: 36px;
	right: 0;
	list-style: none;
}
.hd-header ul li{
	float: left;
	margin-right: 17px;
}
.hd-header ul li a{
	display: block;
	width: 43px;
	height: 23px;
}
.hd-header ul li a.header-book{
	background: url(images/anony_nav_logo4.png) 0 0 no-repeat;
}
.hd-header ul li a.header-movie{
	background: url(images/anony_nav_logo4.png) -59px 0 no-repeat;
}
.hd-header ul li a.header-music{
	background: url(images/anony_nav_logo4.png) -120px 0 no-repeat;
}
.hd-header ul li a.header-group{
	background: url(images/anony_nav_logo4.png) -179px 0 no-repeat;
}
.hd-header ul li a.header-fm{
	width: 81px;
	background: url(images/anony_nav_logo4.png) -238px 0 no-repeat;
}
.hd-header ul li a.header-local{
	background: url(images/anony_nav_logo4.png) -340px 0 no-repeat;
}
/* 公共样式 */
a{
	color: #3377aa;
}
a:hover{
	background: #3377AA;
	color: #fff;
}

.hd-reg-background{
	width: 100%;
	background: #e8edf1;
	height: 88px;
}
.hd-reg{
	width: 950px;
	height: 88px;
	margin: 0 auto;
	position: relative;
}
.hd-reg .reg-join{
	display: block;
	width: 120px;
	height: 37px;
	background: #ef7360;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	position: absolute;
	top: 20px;
}
.hd-reg .reg-join:hover{
	background-color: #ed6752;
}
.hd-reg .reg-join span{
	margin-left: 12px;
	margin-left: 3px;
}
.hd-reg p{
	position: absolute;
	left: 138px; 
	top: 30px;
	font-size: 16px;
	color: #666666;
	
}
.hd-reg input{
	position: absolute;
	width: 153px;
	height: 32px;
	top: 20px
}
.hd-reg .reg-username{
	right: 250px;
	padding-left: 5px;
}
.hd-reg .reg-password{
	right: 88px;
	padding-left: 5px;
}
.hd-reg .reg-login{
	display: block;
	width: 80px;
	height: 33px;
	background: #3ba354;
	color: #fff; 
	border-radius: 2px;
	position: absolute;
	right: 4px;
	top: 20px;
	text-align: center;
	line-height: 33px;
	font-size: 13px;
}
.hd-reg .reg-login:hover{
	background: #1c9439;
}

.hd-reg p.reg-p{
	position: absolute;
	left: 544px;
	top: 62px;
	width: 85px;
	height: 17px;
	color: #000;
	font-size: 12px;
	padding-left: 20px;
	line-height: 17px;
}
.hd-reg p.reg-p .reg-rember{
	width: 13px;
	height: 13px;
	padding-left: 13px;
	display: block;
	position: absolute;
	left: 0px;
	top: 2px;

}
.hd-reg .reg-forget{
	top: 61px;
	left: 704px;
	position: absolute;
}

.hd-con{
	width: 950px;
	height: 546px;
	margin: 35px auto 0;
	position: relative;
}
h2.title{
	font: 15px/150% Arial,Helvetica,sans-serif;
	color: #007722;
	width: 230px;
	height: 24px;
}

.hd-con .con-left{
	width: 373px;
	height: 546px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.hd-con .con-left ul{
	margin-top: 16px;
}
.hd-con .con-left ul li{
	width: 171px;
	height: 219px;
	float: left;
	margin-right: 10px;
}
.hd-con .con-left ul li a.con-left-pic:hover{
	background: #fff;
}
.hd-con .con-left ul li span{
	color: #999999;
}

.hd-con .con-mid{
	position: absolute;
	left: 380px;
	top: 0;
	width: 298px;
	height: 546px;
}

.hd-con .con-mid ul{
	margin-top: 37px;
}
.hd-con .con-mid ul li{
	line-height: 30px;
}
.hd-con .con-mid ul h2{
	color: #999;
	font-weight: 400;
	font-size: 12px;
}
#hd-con .con-mid ul p{
	color: #666666;
}

.hd-con .con-right{
	min-height: 546px;
}
.hd-con .con-right p{
	color: #999999;
}
.hd-con .con-right b{
	display: block;
	color: #999;
	font-weight: 400;
}

.hd-con .con-right ul li{
	height: 57px;
	padding-bottom: 13px;
	overflow: hidden;
}
.hd-con .con-right .last-ad{
	width: 258px;
	height: 118px;
	position: absolute;
	right: 6px;
	bottom: 45px;
}
.hd-con .con-right .last-ad h2{
	color: #000;
	font-size: 15px;
	position: absolute;
	left: 19px;
	top: 15px;
}
.hd-con .con-right .last-ad a.last-ad-pic{
	position: absolute;
	left: 19px;
	top: 44px;

}
.hd-con .con-right .last-ad a.last-ad-ghost{
	display: block;
	width: 68px;
	height: 28px;
	overflow: hidden;
	position: absolute;
	left: 87px;
	top: 11px;

}
.hd-con .con-right .last-ad a.last-ad-ghost:hover{
	background: #fff;

}
.hd-con .con-right .last-ad a.last-ad-rainbow{
	position: absolute;
	right: 0px;
	top: 0px;
}
.hd-con .con-right .last-ad a.last-ad-rainbow:hover{
	background: #fff;
}
.hd-con .con-right .last-ad a.last-ad-beghost{
	position: absolute;
	left: 128px;
	top: 46px;
}
.hd-con .con-right .last-ad p{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 68px;
}
.hd-con .con-right .last-ad span{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 80px;
}

.hd-movie-background{
	height: 631px;
	background: #f7f7f7;
	margin-top: 44px;
	padding-top: 40px;

}
.hd-movie-background .hd-movie{
	width: 950px;
	height: 631px;
	margin: 0 auto;
	position: relative;
}
.hd-movie-background .hd-movie .movie-pic{
	background: url(images/app_icons_50_6.jpg) -350px 0 no-repeat;
}
.left .left-title{
	font-size: 24px;
	color: #2297cc;

}
.hd-movie .left .left-title:hover{
	color: #fff;
}
.left a:hover{
	color: #fff;

}
.left .left-up{
	margin-top: 5px;
}

.left .left-up li{
	font-size: 14px;
	line-height: 24px;
}
.left .left-down{
	margin-top: 28px;
}
.left .left-down li{
	width: 55px;
	height: 93px;
}
.left .left-down li a.left-down-pic{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #999;
}

.left .left-down li a.left-down-des{
	line-height: 25px;
}
.mid ul li{
	width: 127px;
	text-align: center;
	float: left;
}
.mid ul li a.hd-moviee-name{
	display: block;
}
.mid ul li span.hd-movie-point{
	width: 47px;
	height: 14px;
	display: block;
	background: url(images/midstars.gif) 20px 2px no-repeat;
	text-align: left;
	padding-left: 80px;
	overflow: hidden;
	line-height: 16px;
	color: #ff4400;
}

.mid ul li a.movie-choose{
	display: block;
	width: 68px;
	height: 23px;
	color: #fff;
	text-align: center;
	line-height: 23px;
	background: #1c8bd0;
	border-radius: 3px;
	margin: 6px auto 0;
}
.hd-movie-list li{
	height: 230px;
	margin-bottom: 40px;
	overflow: hidden;

}
.hd-movie-background .hd-movie .movie-right-ul{
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}
.hd-movie-background .hd-movie .movie-right-ul li{
	width: 45px;
	float: left;
	line-height: 25px;
}
.hd-movie-background .hd-movie .movie-right-down{
	float: left;
	margin-top: 28px;
}
.hd-movie-background .hd-movie .movie-right-down li{
	border-bottom: 1px solid #eaeaea;
	height: 35px;
	line-height: 35px;
	width: 264px;
}
.hd-movie-background .hd-movie .movie-right-down li a{
	margin-left: 12px;
}
.hd-book {
	width: 950px;
	height: 623px;
	border: 1px solid #f00;
	margin: 38px auto 0;
	position: relative;
}
.hd-book a.left-title{
	color: #614e3c;
}
.hd-book a{
	color: #614e3c;
}
.hd-book a:hover{
	color: #fff;
}
.hd-book .book-new{
	position: relative;
}
.hd-book .book-new img{
	position: absolute;
	left: 28px;
	top: 3px;
}
.hd-book .book-read{
	background: url(./images/app_icons_50_6.jpg) no-repeat;
}
.hd-book .book-write{
	background: url(./images/app_icons_50_6.jpg) -399px 0px no-repeat;
}
.hd-book .book-buy{
	background: url(./images/app_icons_50_6.jpg) -200px 0px no-repeat;
}









